<!DOCTYPE html>
<html>
    <head>
        <title>Software Design Final project</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">JRMM WEATHER</div>
                <ul>
                    <li><a>Home</a></li>
                    <li><a>Table</a></li>
                    <li><a>About Us</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <banner>
                
            </banner>
            <div class="map">
                
            </div>
            <div class="filters">
                
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>
