<!DOCTYPE HTML>
<html>
  <head>
    <title>Fun with Random Sentences</title>
    <style>
      html {
        backgound-color: seashell;
        text-align: center;
      }
      h1 {
        color: teal;
        font-size:50px;
        font-weight:30px;
      }
      p {
        font-size: 30px;
      }
    </style>
  </head>
  <body>
    <h1>Generating a Random Sentence</h1>
    <p>How about this:</p>
    <p>{{name}} the {{adjective}} was born in {{city}} in the year {{year}}</p>
  </body>
</html>
