body {
background-color: #fcfcfc;
color: #db6363;
text-align: center;
}
.title {
  margin: 10px;
  color: #dc6363;
  font-family: Poppins;
  font-size: 2em;
  font-weight: 700;
}
.banner {
  padding: 3%;
  background-color: #db6363;
  color: #ffffff;
  font-family: Poppins;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 3.7px;
  height: 200x;
}
p, .banner-contents {
  width: 60%;
  margin: auto;
}
.banner-contents p {
  font-size: 50px;
  font-weight: 30px;
}
p {
  font-size: 22px;
}
.about {
  background-color: #f0f0f0;
  width: 50%;
  margin: 40px 20px 20px 300px;
  padding: 20px;
}
.text {
  font-size: 30px;
  line-height: 35px;
}
.grid {
  display: grid;
  grid-template: 150px/ repeat(3,1fr);
  gap:50px;
  margin: 30px;
}
.box {
  background-color: #2f2f2f;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  display: grid;
}
.address {
grid-column: 1;
}

.hours {
grid-column: 2;
}

.call-us {
  grid-column: 3;
}
footer {
  background-color: #db6363;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  letter-spacing: 0.4px;
  display: grid;
}
.appointment {
  margin: 20px;
  line-height: 30px;
}
.appointment_title {
  font-size: 25px;
  font-weight: 50px;
  margin: 50px 50px 10px 300px;
  text-align: center;
}
#contact {
  margin-left: 25px;
}
#email {
  margin-left: 30px;
}
.pet {
  margin: 30px 30px 20px 250px;
}
button p{
  font-size: 25px;
}
#your_appointment {
margin: 30px;
}
