body {
background-color: #fcfcfc;
color: #db6363;
text-align: center;
}
.title {
  margin: auto;
  color: #dc6363;
  font-family: Poppins;
  font-size: 2em;
  font-weight: 700;
}
.banner {
  padding: 3%;
  background-color: #db6363;
  color: #ffffff;
  font-family: Poppins;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 3.7px;
}
p, .banner-contents {
  width: 60%;
  margin: auto;
}
.about {
  background-color: #f0f0f0;
  width: 50%;
  margin: 20px 20px 20px 100px;
  
}
.text {
font-size: 25px;
}
.grid {
  display: grid;
  grid-template: 150px/ repeat(6,1fr);
  gap:20px;
}
.box {
  background-color: #2f2f2f;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  display: grid;
}
.address {
grid-column: 1 / span 2;
}

.hours {
grid-column: 3/ span 1;
}

.call-us {
  grid-column: 5/ span 2;
}

  
